%% vim: ft=erlang

{erl_opts, [ debug_info
           , compressed
           , report
           , warn_export_all
           , warn_export_vars
           , warn_shadow_vars
           , warn_unused_function
           , warn_deprecated_function
           , warn_obsolete_guard
           , warn_unused_import
           % , {d, 'TEST'} %% to shutup erlang_ls
           , {d, 'JSONRPC_DEBUG'} %% to shutup erlang_ls
           ]}.

{deps, []}.

{profiles, [
            {test, [ {deps, [ jsone
                            , jiffy
                            , proper
                            ]}
                   , {dialyzer, [ {plt_extra_apps, [jsone]}
                                , {plt_apps, all_deps}
                                ]}
                   , {erl_opts, [{d, 'TEST'}, {d, 'JSONRPC_DEBUG'}]}
                   ]}
           ]}.

{plugins, [ {rebar3_todo, {git, "https://github.com/ferd/rebar3_todo.git", {branch, "master"}}}
          , rebar3_proper
          ]}.


{dialyzer, [ {plt_apps, all_deps}
           ]}.
